/* fondo ruido al body */
body {
    background: url("../images/noise.jpg");
}

/* estilos a clases */
/* estilo de titulo principal superior */
.card {
    background-color: #7dadff;
    width: 100%;
    padding: 1%;
    border-radius: 0;
}

/*fondo del selector de secciones */
.selector {
    background-color: #aeccff;
}

/*texto links a cv imagenes y videos*/
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9f1dc0;
    padding-top: 10px;

}

.seccion {
    cursor: pointer;
}

h4:hover {
    color: #c083cf;
}


/* estilo de hipervinculos*/
a {
    text-decoration: none;
    color: #fcfcfcfb;
}

/* estilo de Carousel */
.carousel {
    margin: auto;
    max-width: 70rem;
}

/* estilos de imagenes y videos */
.c-item {
    height: auto;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.c-item2 {
    min-width: 100%;
    height: 32rem;
}

.c-vid {
    height: 100%;
}

/* footer */
.piepagina {
    color: #fcfcfcfb;
    background-color: #64646468;
    padding: 2%;
}

/* separador de lineas*/
.clear {
    clear: both;
    height: 15px;
}

/* ATRIBUTOS POR ETIQUETA O ID*/
/* para separar de los iconos de redes */
#subtitulo {
    margin-right: 1%;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#cv {
    padding-top: 5%;
}

#carouselfotos {
    margin-top: 5%;
}

#carouselvideos {
    margin-top: 5%;
}

/* esconder texto si la página en muy chica*/
@media screen and (max-width: 768px) {
    p.subcolumna {
        display: none;
    }
}

/************estilos del botón de ir arriba ************/
.go-top-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 65px;
    height: 65px;
    z-index: -1;
}

.go-top-button {
    width: 0px;
    height: 0px;
    background: #7dadff;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 18px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #ffffff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 55px;
    height: 55px;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }

    50% {
        width: 70px;
        height: 70px;
    }

    100% {
        width: 55px;
        height: 55 px;
    }
}

/*************************************************************/
/* estilos CV */

#objetivo p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
    margin: 0 0 16px 0;
}

#pic {
    float: right;
    margin: -30px 0 0 0;
}

.fn {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px dotted #999;
}

ul {
    margin: 0 0 2px 17px;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 20px 11px 0;
    border-right: 1px solid #999;
    border-bottom: 2px solid #999;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*************************************************/