/*capa de estilo - class*/
body {
    background: url("../images/noise.jpg");
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(159, 29, 192);
    padding-top: 10px;
}

.card {
    background-color: #7dadff;
    width: 100%;
    padding: 1%;
    border-radius: 0;
}

.puntero {
    cursor: pointer;
}

/* Carousel */
.carousel {
    margin-bottom: 4rem;
    margin: auto;
    max-width: 70rem;
}

/* tamaños y alturas de imagenes y videos */
.c-item {
    height: auto;
}

.c-item2>iframe {
    min-width: 100%;
    height: 32rem;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.c-vid {
    height: 100%;
}

/* footer */
.piepagina {
    color: rgba(217, 217, 217, 0.984);
    background-color: rgba(100, 100, 100, 0.408);
    padding: 2%;
}

/* ATRIBUTOS POR ETIQUETA O ID*/
#subtitulo {
    margin-right: 1%;
}

/* para separar de los iconos de redes */

#titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}